.app-nav, .cover, .github-corner, .sidebar-toggle, .sidebar, .dwz-btn-print,
.markdown-section > hr, .markdown-section hr + p {
    display: none;
}

body {
	font-size: 12px;
}
.content {
    left: 0;
    padding: 0;
}

.markdown-section h1 {
    font-size: 1.6rem;
    margin: 0 0 0.5rem;
}

.markdown-section h2 {
    font-size: 1.4rem;
    margin: 15px 0px 0.8rem;
}

.markdown-section h3 {
    font-size: 1.2rem;
    margin: 10px 0 0.6rem;
}

.markdown-section h3 {
    font-size: 1.2rem;
    margin: 10px 0 0.6rem;
}

.markdown-section h4 {
    font-size: 1.1rem;
}